@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uo47sw');
  src:  url('fonts/icomoon.eot?uo47sw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uo47sw') format('truetype'),
    url('fonts/icomoon.woff?uo47sw') format('woff'),
    url('fonts/icomoon.svg?uo47sw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-forward:before {
  content: "\e90c";
}
.icon-placeholder:before {
  content: "\e910";
}
.icon-error:before {
  content: "\e90b";
}
.icon-picture:before {
  content: "\e909";
}
.icon-file:before {
  content: "\e90a";
}
.icon-avatar:before {
  content: "\e908";
}
.icon-envelope:before {
  content: "\e907";
}
.icon-back:before {
  content: "\e904";
}
.icon-happy:before {
  content: "\e905";
}
.icon-plus:before {
  content: "\e906";
}
.icon-signs:before {
  content: "\e903";
}
.icon-chat:before {
  content: "\e900";
}
.icon-house:before {
  content: "\e901";
}
.icon-settings:before {
  content: "\e902";
}
